#Opdater{
    height: 35px;
    width: 60px;
    background: whitesmoke;
    border-radius: 5px;
    color: black;
    font-size: 14px;
    font-weight: normal;
}


table{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: green;
    background-color: black;
}

td{
    padding: 10px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 2%;
}

th{
    padding: 10px;
    border-collapse: collapse;
    background-color: #DCDCDC;
    border-radius: 5%;
}
