body{
    margin: 0;
    padding: 0;
    background-color: #90D7FF;
    background-size: cover;
    background-position:center;
    font-family:sans-serif;

}
.loginbox{
    width: 320px;
    height: 435px;
    background: #FFFFFF;
    border-radius: 20px;
    color: #243B4A;
    top: 4%;
    left: 50%;

    position: absolute;
    transform: translate(-50%, 50%);
    box-sizing: border-box;
    padding: 60px 40px;
}

.avatar{
    width: 100px;
    height: 100px;
    position: absolute;
    top:-55px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #243B4A;
}
.form{
    color: #4CAF50;
}
.loginbox p{
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;

}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #E50A17;
    background: transparent;
    outline: none;
    height: 40px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #E50A17;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}

.loginbox a{
    color: #131200;
    font-size: 12px;
}

#Avatar1{
    width: 100px;
    height: 100px;
    position: absolute;
    top:-55px;
    left: calc(50% - 50px);
}
.logo img{
    float: left;
    width: 120px;
    height: 110px;
}
